Decisions.ForEx/Service References/StrikeIronForEx/ForeignExchangeRate3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Web service will provide exchange rates for currencies based on a 30-minute delay.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="GetLatestRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestRateResult" type="tns:SIWsOutputOfExchangeRate" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfExchangeRate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:ExchangeRate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExchangeRate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLatestRates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommaSeparatedListOfCurrenciesFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestRatesResult" type="tns:SIWsOutputOfSIWsResultArrayOfExchangeRateListing" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfExchangeRateListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfExchangeRateListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfExchangeRateListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfExchangeRateListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExchangeRateListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExchangeRateListing" nillable="true" type="tns:ExchangeRateListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExchangeRateListing">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultWithStatus">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PerCurrency" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResultWithStatus" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemStatus" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="CurrencyRateForAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrencyRateForAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyRateForAmountResult" type="tns:SIWsOutputOfExchangeRate" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommaSeparatedListOfCurrenciesFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalRatesResult" type="tns:SIWsOutputOfSIWsResultArrayOfExchangeRateListing" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalRateResult" type="tns:SIWsOutputOfSIWsResultArrayOfExchangeRateListing" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLatestRatesToUSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLatestRatesToUSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLatestRatesToUSDResult" type="tns:SIWsOutputOfSIWsResultArrayOfExchangeRateListing" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLatestUSDToCurrencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLatestUSDToCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLatestUSDToCurrenciesResult" type="tns:SIWsOutputOfSIWsResultArrayOfExchangeRateListing" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupportedCurrencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupportedCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSupportedCurrenciesResult" type="tns:SIWsOutputOfSIWsResultArrayOfCurrencyListing" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfCurrencyListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfCurrencyListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfCurrencyListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfCurrencyListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCurrencyListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CurrencyListing" nillable="true" type="tns:CurrencyListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CurrencyListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusCodesForMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusCodesForMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesForMethodResult" type="tns:SIWsOutputOfMethodStatusRecord" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:MethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MethodStatusRecord">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultArrayOfSIWsStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfSIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesResult" type="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfMethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfMethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MethodStatusRecord" nillable="true" type="tns:MethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
            <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SILicenseInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SILicenseInfo" type="tns:SILicenseInfo" />
      <s:complexType name="SISubscriptionInfo">
        <s:sequence>
          <s:element name="LicenseStatusCode" type="s:int" />
          <s:element minOccurs="0" name="LicenseStatus" type="s:string" />
          <s:element name="LicenseActionCode" type="s:int" />
          <s:element minOccurs="0" name="LicenseAction" type="s:string" />
          <s:element name="RemainingHits" type="s:int" />
          <s:element name="Amount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SISubscriptionInfo" type="tns:SISubscriptionInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestRate" />
  </wsdl:message>
  <wsdl:message name="GetLatestRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestRatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestRates" />
  </wsdl:message>
  <wsdl:message name="GetLatestRatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestRatesResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyRateForAmountSoapIn">
    <wsdl:part name="parameters" element="tns:CurrencyRateForAmount" />
  </wsdl:message>
  <wsdl:message name="CurrencyRateForAmountSoapOut">
    <wsdl:part name="parameters" element="tns:CurrencyRateForAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoricalRates" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoricalRatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoricalRate" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoricalRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestRatesToUSDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLatestRatesToUSD" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestRatesToUSDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLatestRatesToUSDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestUSDToCurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLatestUSDToCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestUSDToCurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLatestUSDToCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSupportedCurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSupportedCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetSupportedCurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSupportedCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesForMethodSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusCodesForMethod" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesForMethodSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusCodesForMethodResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusCodes" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="tns:SILicenseInfo" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="tns:SISubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="CurrencyRatesSoap">
    <wsdl:operation name="GetLatestRate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return the 30-minute delayed conversion rate from one currency to a single currency</wsdl:documentation>
      <wsdl:input message="tns:GetLatestRateSoapIn" />
      <wsdl:output message="tns:GetLatestRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestRates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return the 30-minute delayed conversion rates from multiple currencies to a single currency</wsdl:documentation>
      <wsdl:input message="tns:GetLatestRatesSoapIn" />
      <wsdl:output message="tns:GetLatestRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CurrencyRateForAmount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return the 30-minute delayed conversion rate from one currency to a single currency</wsdl:documentation>
      <wsdl:input message="tns:CurrencyRateForAmountSoapIn" />
      <wsdl:output message="tns:CurrencyRateForAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return the historical rates from multiple currencies to a single currency on a date after 12/01/2004</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalRatesSoapIn" />
      <wsdl:output message="tns:GetHistoricalRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return the historical rates from a single currency to a single currency on a range of dates after 12/01/2004</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalRateSoapIn" />
      <wsdl:output message="tns:GetHistoricalRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestRatesToUSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return the 30-minute delayed conversion rates of all supported currencies to the US Dollar</wsdl:documentation>
      <wsdl:input message="tns:GetAllLatestRatesToUSDSoapIn" />
      <wsdl:output message="tns:GetAllLatestRatesToUSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestUSDToCurrencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will return 30-minute delayed conversion rate of the US Dollar to all supported currencies</wsdl:documentation>
      <wsdl:input message="tns:GetAllLatestUSDToCurrenciesSoapIn" />
      <wsdl:output message="tns:GetAllLatestUSDToCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedCurrencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the list of all supported currencies</wsdl:documentation>
      <wsdl:input message="tns:GetSupportedCurrenciesSoapIn" />
      <wsdl:output message="tns:GetSupportedCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodesForMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all status codes a method in the service might return.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusCodesForMethodSoapIn" />
      <wsdl:output message="tns:GetStatusCodesForMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusCodesSoapIn" />
      <wsdl:output message="tns:GetStatusCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</wsdl:documentation>
      <wsdl:input message="tns:GetServiceInfoSoapIn" />
      <wsdl:output message="tns:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="tns:GetRemainingHitsSoapIn" />
      <wsdl:output message="tns:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyRatesSoap" type="tns:CurrencyRatesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestRate">
      <soap:operation soapAction="http://www.strikeiron.com/GetLatestRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestRates">
      <soap:operation soapAction="http://www.strikeiron.com/GetLatestRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrencyRateForAmount">
      <soap:operation soapAction="http://www.strikeiron.com/CurrencyRateForAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRates">
      <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRate">
      <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestRatesToUSD">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllLatestRatesToUSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestUSDToCurrencies">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllLatestUSDToCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedCurrencies">
      <soap:operation soapAction="http://www.strikeiron.com/GetSupportedCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodesForMethod">
      <soap:operation soapAction="http://www.strikeiron.com/GetStatusCodesForMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodes">
      <soap:operation soapAction="http://www.strikeiron.com/GetStatusCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://wsparam.strikeiron.com/StrikeIron/ForeignExchangeRate3/CurrencyRates/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyRates">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Web service will provide exchange rates for currencies based on a 30-minute delay.</wsdl:documentation>
    <wsdl:port name="CurrencyRatesSoap" binding="tns:CurrencyRatesSoap">
      <soap:address location="http://wsparam.strikeiron.com/StrikeIron/ForeignExchangeRate3/CurrencyRates" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>